<!DOCTYPE html>
<html>
    <head>
        <title>Cart</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="wrapper">
            <div id="topdiv">
                <p>Welcome, {{user.first_name}}</p>
                <a href="{% url 'marketplace' %}">Home</a>
                <a href="logout/">Log Out</a>
            </div>
        </div>
        <div>
            <p class="bold">{{user.first_name}}'s Cart</p>
            <form action="buy-items/" method="post">
                {% csrf_token %}
                {% for item in cart_items %}
                    <p>
                        {{item.item.name}}:
                        <label>
                            Quantity:
                            <input name="{{item.item.name}}" type="number" min="1" max="10" step="1" value="{{item.quantity}}" required>
                        </label>
                        <a href="{% url 'remove' user.id item.item.id %}">Delete</a>
                    </p>
                {% endfor %}
                <p id="cart_total">Cart total: ${{total_cost}}</p>
                <button type="submit">Checkout</button>
                <div id="paypal-button-container"></div>
            </form>
        </div>
        <!-- Include the PayPal JavaScript SDK -->
        <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

        <script>
            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({
    
                style: {
                    shape: 'pill',
                    size: 'responsive',
                },

                // Set up the transaction
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '88.44'
                            }
                        }]
                    });
                },
    
                // Finalize the transaction
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(orderData) {
                        // Successful capture! For demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        var transaction = orderData.purchase_units[0].payments.captures[0];
                        alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
    
                        // Replace the above to show a success message within this page, e.g.
                        // const element = document.getElementById('paypal-button-container');
                        // element.innerHTML = '';
                        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                        // Or go to another URL:  actions.redirect('thank_you.html');
                    });
                }
    
    
            }).render('#paypal-button-container');
        </script>
    </body>
</html>