<!DOCTYPE html>
<html>
    <head>
        <title>Cart</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="topdiv">
                <p>Welcome, {{user.first_name}}</p>
                <a href="logout/">Log Out</a>
            </div>
        </div>
        <div>
            <p class="bold">{{user.first_name}}'s Cart</p>
            <form action="buy-items/" method="post">
                {% csrf_token %}
                {% for item in cart_items %}
                    <p>
                        {{item.item.name}}:
                        <label>
                            Quantity:
                            <input name="{{item.item.name}}" type="number" min="1" max="10" step="1" value="{{item.quantity}}" required>
                        </label>
                        <a href="{% url 'remove' %}">Delete</a>
                    </p>
                {% endfor %}
                <p>Cart total: ${{total_cost}}</p>
                <button type="submit">Checkout</button>
            </form>
        </div>
    </body>
</html>