<!DOCTYPE html>
<html>
    <head>
        <title>Cart</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="topdiv">
                <p>Welcome, {{user.first_name}}</p>
                <a href="logout/">Log Out</a>
            </div>
        </div>
        <div>
            <p class="bold">{{user.first_name}}'s Cart</p>
            <!-- <button>Checkout</button> -->
        </div>
    </body>
</html>